.content-v {
  width: 1200px;
  margin: 50px auto 100px;

  @media screen and (max-width: 568px) {
    width: 100%;
    padding: 0 10px;
  }

  h1 {
    color: #000;
    text-align: center;
    font-size: 30px;
    font-weight: normal;
    margin-bottom: 50px;

    @media screen and (max-width: 568px) {
      font-size: 25px;
    }
  }

  h3 {
    color: #000;
    font-size: 16px;
    font-weight: normal;
  }

  p {
    font-size: 16px;
    color: #666;
    text-indent: 32px;
    line-height: 32px;
  }

  .basic-info {
    margin-bottom: 50px;
    width: 100%;
    position: relative;

    @media screen and (max-width: 568px) {
      padding-top: 250px;
    }

    img {
      position: absolute;
      width: 470px;
      height: auto;
      display: block;
      top: 0;
      right: 50px;

      @media screen and (max-width: 568px) {
        width: 100%;
        right: 0;
      }
    }
  }

  a {
    text-decoration: none;
    font-size: 16px;
    color: #666;
  }
}
