.gallery-img {
  width: 1200px;
  margin: 0 auto 100px;
  @media screen and (max-width: 568px) {
    width: 100%;
    padding: 0 10px;
    margin: 0 auto 30px;
  }

  img {
    width: 100%;
    height: auto;
    display: block;
  }

}

.content-s-item {
  width: 1200px;
  margin: 161px auto 100px;
  background: #fff;

  @media screen and (max-width: 568px) {
    width: 100%;
    padding: 0 10px;
    margin: 20px auto;
  }

  h1 {
    color: rgba(44, 44, 43, 1);
    font-size: 36px;
    line-height: 54px;
    text-align: center;

    @media screen and (max-width: 568px) {
      font-size: 18px;
    }
  }

  h2 {
    margin-top: 50px;
    font-weight: 400;
    font-size: 18px;
    color: rgb(16, 16, 16);
    line-height: 27px;
    text-align: center;
    @media screen and (max-width: 568px) {
      font-size: 16px;
    }

  }

  p {
    font-size: 18px;
    color: rgb(16, 16, 16);
    line-height: 30px;
    margin: 50px 0 100px;
    text-indent: 38px;

    @media screen and (max-width: 568px) {
      margin: 20px auto 30px;
      font-size: 14px;
    }
  }
}
